body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #ffffff;
  background: #545454;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  scroll-snap-type: y mandatory;
}

section {
  margin: 0;
  padding: 20px;
  background: #222222;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 2s ease, transform 1s ease;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

section.visible {
  opacity: 1;
  transform: translateY(0);
}

section h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
  text-align: center;
}

section p {
  display: flex;
  flex-shrink: 0;
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}

.dialogue-container {
  background: linear-gradient(to bottom, transparent, black);
}

.image {
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 1s ease, transform 1s ease;
}

section.visible .image {
  opacity: 1;
  transform: scale(1);
}

@media (max-width: 600px) {
  section h2 {
    font-size: 2em;
  }

  section p {
    font-size: 1.2em;
  }

  .image {
    width: 70%;
  }
}
